<div>
<div class="illuminaPlot">
   <form class="form-search"> 
   <div>
    <label for="cyclePlotLane">lane</label>
    <select id="cyclePlotLane" class="btn btn-mini lane" ng-model="selectLane" ng-options="lane for lane in laneTypes" ng-change="prepareData()">
    </select>
    <label for="cyclePlotSurface">surface</label>
    <select id="cyclePlotSurface" class="btn btn-mini surface" ng-model="selectSurface" ng-options="surface for surface in surfaceTypes" ng-change="prepareData()">
    </select>
    <label for="cyclePlotSwath">swath</label>
    <select id="cyclePlotSwath" class="btn btn-mini swath" ng-model="selectSwath" ng-options="swath for swath in swathTypes" ng-change="prepareData()">
    </select>
   </div>
   </form>
  <d3 d3-data="plotData" d3-renderer="plotRenderer" ng-show="true"></d3>
</div>
</div>
